.Random {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: none;
    grid-column-gap: 20px;
    text-align: justify;
    margin: 20px 20px 20px 20px;
    padding: auto;

}